# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.parcel-cache/

# Build output
dist/
build/
.cache/
.temp/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.astro/

# Editor directories and settings
.idea/
.DS_Store
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Environme
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
